<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuang.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.zhuang.entity.User">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="userName" jdbcType="VARCHAR" property="userName" />
        <result column="passWord" jdbcType="VARCHAR" property="passWord" />
        <result column="realName" jdbcType="VARCHAR" property="realName" />

        <!--用户有多个角色-->
        <collection property="roles" ofType="com.zhuang.entity.Role">
            <result column="rolename" property="rolename"/>

            <!--角色有多个权限-->
            <collection property="permissions" ofType="com.zhuang.entity.Permission">
                <result column="permissionname" javaType="permissionname"/>
            </collection>
        </collection>
    </resultMap>


    <select id="getUserAll" resultType="com.zhuang.entity.User">
        select * from user
    </select>

    <select id="getUserByid" parameterType="int" resultType="com.zhuang.entity.User">
        select * from user where id = #{id}
    </select>

    <insert id="addUser" parameterType="com.zhuang.entity.User">
        insert into user(`userName`,`passWord`,`realName`) values (#{user.userName},#{user.passWord},#{user.realName});
    </insert>

    <delete id="delUser" parameterType="int">
        delete from user where id = #{id}
    </delete>

    <select id="getUserList" resultType="BaseResultMap">
        SELECT
            u.id id,
            u.userName userName,
            r.rolename rolename,
            p.permissionname permissionname
        FROM
            USER u
            LEFT JOIN userrole ur ON u.id = ur.id
            LEFT JOIN role r ON ur.roleid = r.id
            LEFT JOIN rolepermission rp ON r.id = rp.roleid
            LEFT JOIN permission p ON rp.permissionid = p.id
    </select>

</mapper>